.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1.6fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Encabezado Encabezado Encabezado"
    "MenuNavegacion MenuNavegacion MenuNavegacion"
    "SeccionPrincipal SeccionPrincipal SeccionPrincipal"
    "Tabla Tabla Tabla"
    "n1 n2 n3";
    background-color: aliceblue;
}
    h1, h2, h3, p, ul, table {
    margin: 0;
    padding: 0;
}
.Encabezado { grid-area: Encabezado; 
    background-color: #903;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.SeccionPrincipal h2{
    margin-top: 0;  
 }
.MenuNavegacion { 
    grid-area: MenuNavegacion;
    overflow: hidden;
}
.SeccionPrincipal { 
    grid-area: SeccionPrincipal;
    padding: 20px;
 }
 .Tabla { 
    grid-area: Tabla; 
    padding: 20px;
}
.n1 .n2 .n3 { 
    padding: 10px;
}
.SeccionPrincipal h2{ 
    margin-bottom: 10px;
 }
nav{
    width: 100%;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    width: 20%;
    text-align: center;
}
nav ul li a{
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    color: white;
    background: #903;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: chocolate;
}

.SeccionPrincipal img,
.n1 img, 
.n2 img, 
.n3 img {
    max-width: 100%; 
    height: auto; 
    display: block;
} 
