
body {
  font-family: Arial, sans-serif;
  background-color: #e7f2ef;
  margin: 0;
  padding: 0;
  text-align: center;
}


header {
  background-color: #2a7f62;
  color: white;
  padding: 20px 0;
  border-bottom: 5px solid #1f5c47;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin-top: 8px;
  font-size: 1.2em;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 250px); 
  grid-auto-rows: 220px;                  
  gap: 20px;                              
  justify-content: center;                
  padding: 40px;
}


.pista {
  background-color: white;
  border: 2px solid #2a7f62;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  position: relative;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pista h2 {
  margin: 0;
  color: #2a7f62;
}

.estado {
  font-weight: bold;
  margin-bottom: 40px;
  color: #00796b;
}


.botones {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 8px 14px;
  border-radius: 4%;
  font-weight: 600;
    border: none;
}

.reservar {
  background-color: #4caf50;
  color: white;
}

.cancelar {
  background-color: #d9534f;
  color: white;
}


footer {
  background-color: #2a7f62;
  color: white;
  padding: 15px;
  border-top: 5px solid #1f5c47;
  font-size: 0.9rem;
}

