body {
 font-family: Arial, sans-serif;
 background-color: #f4f4f4;
 color: #000000;
 }

 h1 {
 text-align: center;
 font-size: 2.5em;
color: #f30742;
 }

 .product {
 border: 2px solid #9a19ce;
 padding: 20px;
 margin: 20px;
 background-color: #e2d5e2;
 }

 .product img {
 max-width: 50%;
 height: auto;
 }

 .product h2 {
 
 font-size: 1.5em;
 margin-top: 10px;
 color: #333;
 }
 .product p {
 font-size: 1em;
 color: #666;
 }