body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    background-color: #f3f4f6; 
    color: #333; 
    margin: 0; 
    padding: 20px; 
} 
 
h1 { 
    color: #270257; 
    margin-bottom: 30px;
    font-weight: 700;
} 
 
button { 
    background-color: #520996; 
    color: white; 
    border: none; 
    padding: 10px 20px;
  font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
} 
 
button:hover { 
    background-color: #0056b3; 
} 
 
#mensaje { 
    margin-top: 20px; 
    font-size: 18px; 
} 